.section-box {
    background-image: linear-gradient(#bebebe80, #bebebe80);
    border: 1px solid #504646;
    border-radius: 10px;
    padding: 16px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px #00000010;
    margin-top: 25px;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
  }
  
  .section-box h3 {
    color: #1877f2;
    margin-bottom: 12px;
  }
  
  .form-box {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  
  .form-box input {
    flex: 1;
    min-width: 150px;
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
  }
  
  .form-box button {
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 6px 12px;
    cursor: pointer;
    transition: 0.2s;
  }
  
  .form-box button:hover {
    background-color: #145dbf;
  }
  
  .list-box {
    list-style: none;
    padding: 0;
    /*Đức: Thêm thanh cuộn khi list quá dài*/
    max-height: 400px;
    overflow-y: auto;
    padding: 10px;
    border-radius: 8px;
  }
  /*Đức: Làm đẹp thanh cuộn*/
  .list-box::-webkit-scrollbar {width: 8px;}
  .list-box::-webkit-scrollbar-track {background: #f1f1f1; border-radius: 4px;}
  .list-box::-webkit-scrollbar-thumb {background: #c1c1c1; border-radius: 4px;}
  .list-box::-webkit-scrollbar-thumb:hover {background: #a8a8a8;}
  
  .list-box li {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    border-bottom: 1px solid #151414;
    color: #414141;
  }
  
  .list-box li button {
    background: #776f6f;
    color: black;
    border: none;
    border-radius: 6px;
    padding: 2px 8px;
    cursor: pointer;
  }
  
  .list-box li button:hover {
    background: #3b3b3b;
  }
  
  select:focus{outline: none;}